
/* navbar */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
}

.overlay{
    background-color: #1b2032;
    background-image: url("/img/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.my-font h1{
    font-family: 'Poppins', "Arial Black", sans-serif;
    font-size: 46px;
    font-weight: bolder;
    line-height: 1.25em;
}
.my-font p{
    line-height: 2em;
    font-weight: bold;
    font-size: 18px;
}

.my-font-2 h1{
    font-family: 'Poppins', "Arial Black", sans-serif;
    font-size: 35px;
    font-weight: bolder;
    line-height: 1.25em;
}
.my-font-2 p{
    line-height: 2em;
    font-weight: 500;
    font-size: 16px;
}
.my-btn{
    background: #06002d;
    border-radius: 0;
    color: #fff;
    padding: 10px 37px;
    line-height: 1.5em;
}

.my-brand img{
  object-fit: contain;
  width: 13%;
  position: absolute;
  top: 20%;
  left: 4%;
}

.my-text{
  color: #06002d;
}

.my-btn-2{
  background: #b06300;
  border-radius: 0;
  color: #fff;
  padding: 10px 37px;
  line-height: 1.5em;
}

.my-btn:hover{
    color: #cabdbd;;
}

.my-btn-2:hover{
  color: #cabdbd;;
}

.my-link{
  color: #fff;
  background: transparent;
}
.my-nav-link{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: #fff;
}
.my-nav-link:hover{
  text-decoration: none;
  color: #f8a100;
}


.my-card{
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 40px 40px 30px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.my-card h4{
    font-size: 18px;
    font-weight: bold;
}
.my-card p{
    color: rgba(255,255,255,0.8);
    font-size: 16px;
}

.my-social {
  margin-left: -38px;
}
.my-social ul li {
  list-style: none;
  display: inline-block;
}
.my-social ul li a {
  display: block;
  width: 32px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  background: #b06300;
  color: #fff;
  opacity: .5;
  transition: opacity .3s ease;
}

.my-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum","tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 4px 11px;
  color: rgba(0,0,0,.65);
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.my-input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(244, 144, 255, .2);
}

.my-accordion .card-header{

    padding: .75rem 1.25rem;
    color: #fff;
    margin-bottom: 0;
    background-color: rgb(0, 4, 57);
    border-bottom: 1px solid rgba(0,0,0,.125);

}
.my-gift-cards img {
  width: 280px;
}

.my-rates .my-gift-card {
  background-color: #fff;
  border-radius: 5px;
  border: .5px solid #d9d9d9;
  background-repeat: no-repeat;
  background-position: 100% 0;
  padding: 16px;
  max-width: 200px;
  margin: auto;
}

.col .display-heading{
  overflow: hidden;
  margin: 0 0 15px;
}

.display-heading{
  display: table;
  width: auto;
} 
.display-heading .icon{
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.display-heading .content-box{
  display: table-cell;
  vertical-align: middle;
}
.display-heading h2{
  font-family: Poppins, "Arial Black", sans-serif;
}

.display-heading .content-box h2{
  font-size: 24px; 
  line-height: 1.21em;
  font-family: Poppins, "Arial Black", sans-serif
}

.content-container{
  color: #e5e5e5;
}
.content-container p{
  font-size: 18px;
  line-height: 2em;
}

i.fontawesome-icon{
    color: #ffffff;
    background-color: #125300;
    border-color: rgba(255,255,255,0);
    border-radius: 50%;
    background-clip: inherit;
    border-style: solid;
    text-align: center;
}
.content-block-one {
  padding: 0px 30px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
}
.content-block-two {
    padding: 50px 30px;
    margin-bottom: 0px;
    color: #fff;
    background-color: rgb(1, 1, 45);
  }
.content-block-one > hr {
  border-top-color: #d5d5d5;
}
.container .content-block-one {
  border-radius: 6px;
}
.content-block-one .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .content-block-one {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .content-block-one {
    padding-right: 60px;
    padding-left: 60px;
  }
}
.content-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(http://placehold.it/1200x650/0033cc/ffffff) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
.content-space-two {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(http://placehold.it/1200x650/cc0000/ffffff) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  
  .my-font h1{
    font-family: 'Poppins', "Arial Black", sans-serif;
    font-size: 29px;
    font-weight: bolder;
    line-height: 1.25em;
  }

  .my-font-2 h1 {

    font-family: 'Poppins', "Arial Black", sans-serif;
    font-size: 23px;
    font-weight: bolder;
    line-height: 1.25em;

  }

  .display-heading .content-box h2{
    font-size: 18px; 
    line-height: 1.21em;
  }

  .my-brand img{
    object-fit: contain;
    width: 15%;
    position: absolute;
    top: 13%;
    left: 80%;
  }

  .my-visibility{
    visibility: hidden;
  }

  .navbar-default {
    background-color: rgb(1, 1, 45);
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
  }

  .overlay{
    background-color: #1b2032;
    background-image: url("/img/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 18%;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

  